.column1 {
  float: left;
  width: 50%;
  border: 5px solid;
  padding: 0px;
  margin: 20px;
  box-shadow: 0 0 1em #222;
  height: 900px;
  position: relative;
  display: table;
  box-sizing:border-box;
  background-color: #E8E8E8;
}

.column2 {
  width: 40%;
  border: 5px solid;
  padding: 50px;
  margin: 20px;
  box-shadow: 0 0 1em #222;
  height: 900px;
  position: relative;
  display: inline-block;
  box-sizing:border-box;
  background-color: #E8E8E8;
}

.bold-text {
  color: black;
}

h1 {
  margin: 0 0 50px 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: black;
  border-bottom: solid 1px #e5e5e5;
}

p {
  text-align: center;
}
