// Import page-specific CSS files here.
@import "home";
@import "index-page-cars";
@import "users-sign-up";
@import "users-sign-in";
@import "bookings-new";


// general scss
html, body {

  height: 100%;
  margin: 0;
}


.container {
 
  min-height: 100%;
}
