// .container {
//   width: 800px !important;
// }

.index-container {
  display: flex;
  // width: 800px;
}

.column {
  flex: 50% !important;
  margin: 30px;
}

#map {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}

.index-form-search {
  display: flex;
}

 .index-form {
  width: 500px;
    height: 200px;
    margin-left: 300px;

 }

.btn-index {
  width: 100px;
  margin-left: 150px;
  margin-top: 10px;
}

// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {

// }

// // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {
   .cards {
      display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px
 }
 }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {

// }