<h1>Carbnb</h1>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#cars">Cars</a>
  <a href="#add_car">Add Car</a>
  <a href="#your_cars">Your Cars</a>
  <a href="#your_bookings">Your bookings</a>
  <a href="#" style="float:right"><img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Avatar" class="avatar"></a>
</div>
