<div class="image-background" style='background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url(https://image.freepik.com/vecteurs-libre/silhouette-voiture-differents-types-automobiles-berline-hayon-arriere-isole-cuv-van-depanneuse-berline-taxi-collection-icones-plat-vehicule-suv-voiture-transports-types-transports-automobiles-urbains_124507-8026.jpg)'>
  <div class="container">
    
    

  <div class="input-group">
    <div class="form-item">
      <label for="address">Location</label>
      <input type="text" class="form-control" placeholder="Search a place">
    </div>

    <div class="input-group">
      <div class="form-item">
        <label for="address">Location</label>
        <input type="text" class="form-control" placeholder="Search a place">
      </div>
      <div class="form-item">
        <label for="pick-up-date">Pick-up date</label>
        <div class="form-input">
          <input type="date" class="form-control" placeholder="23 Nov">
          <input type="time" class="form-control" placeholder="11:30">
        </div>
      </div>
      <div class="form-item">
        <label for="pick-up-date">Return date</label>
        <div class="form-input">
          <input type="date" class="form-control" placeholder="27 Nov">
          <input type="time" class="form-control" placeholder="17:30">
        </div>
      </div>
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Search</span>
      </div>
    </div>

    <div>
    <h1>Rent a car close & fast.</h1>
    </div>
  </div>
</div>
<br>


</div>
