.card-category {
  background-size: cover;
  background-position: center;
  background-color: rgb(219, 212, 212);
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.car-name-card {
 font-size: 24px;
}

.car-image-card {

}

.car-info-card {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


// SHOW
.card-product img {
  width: 100px;
}

.card-product {
  width: 800px;
  height: 400px;
  background-size: cover;
  background-position: center;
 
}

.car-product-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.car-product-info-details {
  font-size: 16px;
  font-weight: 500;
  color: white;

}

.car-container-row {
  width: 1000px;
  display: flex;
}

.card-booking {
  display: grid;
 
  color: black;
}