// CARS
.cards {
  display: flex;
  flex-direction: column;
  // width: 300px;
}

.cards a {
  text-decoration: none !important;
}

.Card {
  background: #286090;

  // height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 0 30px 0;
}

.Card:hover {
  border: 1.5px solid #FFF;
}

.Card__name {
//  font-size: 24px;

}

.Card h2 {
  padding: 10px 20px;
  margin: 0px;
  color: black;
}

.Card__image {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
  height: 200px;
  border-radius: 5px 5px 0 0;
  background-color: #286090;
}

.Card__info {
  padding: 21px 0px;
  // width: 100%;
  // display: flex;
  // justify-content: space-around;
  background-color: #286090;
}


// SHOW
.card-product img {
  width: 100px;
}

.card-product {
  width: 800px;
  height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 1em #222;
}

.car-product-info {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.car-product-info-details {
  font-size: 16px;
  font-weight: 500;
  color: white;

}

.car-container-row {
  width: 1000px;
  display: flex;
}

.card-booking {
  display: grid;
  text-align: right;
  color: black;
}

.card-booking h4 {
  margin: 10px;
}

.card-booking h3 {
  margin: 10px;
}
.card-booking a {
  margin: 60px 10px 0px 10px;
  padding: 40px 0px 0px 0px;
}

.column-card-book {
  width: 40%;
  padding: 50px;
  margin: 0px;
  box-shadow: 0 0 1em #222;
  position: relative;
}



.cars-infos-user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }



.car-overview {
  text-align: center;
  color: #222;
  font-size: large;
}

.centered {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.book-car-button  {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 75px;
  width: 200px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 40px !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
