.navbar-lewagon {
  justify-content: space-between;

  background: #3074AE;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  margin: 0px !important;
  padding: 0px;
}

.nav-link{
  margin: 0 25px;
  color: white;
}

.nav-text {
  color: white;
}

.logo {
  background-color: #c3d1dd;
}